<form action="">
    <img src="imagens/icone.png" alt="Ãcone">
    <input type="text" placeholder="Nome" class="form-control">
    <input type='text' placeholder="Idade" class="form-control">
    <input type='submit' value='Enviar' class="btn btn-primary"> 
</form>