<form action="">
    <img src="imagens/icone.png" alt="Ãcone">
    <input type="text" placeholder="Nome" class="form-control">
    <input type='text' placeholder="Idade" class="form-control">
    <input type='submit' value='Enviar' class="btn btn-primary"> 
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
<tbody>
    <tr>
        <td>Gerson</td>
        <td>67</td>
        <td><a href="#">Selecionar</a></td>
    </tr>
    <tr>
        <td>Gerson</td>
        <td>67</td>
        <td><a href="#">Selecionar</a></td>
    </tr>
    <tr>
        <td>Gerson</td>
        <td>67</td>
        <td><a href="#">Selecionar</a></td>
    </tr>
    <tr>
        <td>Gerson</td>
        <td>67</td>
        <td><a href="#">Selecionar</a></td>
    </tr>
</tbody>
</table>